.card{
    @extend %padding-shared;
    @include card_base(color(white), color(font));
    font-size: 14px;
    font-weight: bold;
    
    &-header , &-body, &-footer{
        background-color: transparent;
        padding: 20px 25px;
    }
    &-body {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
}