* {
    padding: 0px;
    margin: 0px;
}
body {
    background: color(bg-out-dark);
    font-family: $font-family;
    color: color(white) !important;
    font-size: $font-size;
    font-weight: weight(medium);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}