@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap);* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #464854;
  font-family: "Poppins", sans-serif;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: weight(medium);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-primary {
  background-color: #5f7cfe;
  border-radius: 2px;
}

.btn-secondary {
  background-color: #cdd3d8;
  border-radius: 4px;
}

.btn-success {
  background-color: #1dca51;
  border-radius: 8px;
}

.btn-info {
  background-color: #61aafc;
  border-radius: 12px;
}

.btn-danger {
  background-color: #fc544b;
  border-radius: 50%;
}

