@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap);* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #464854;
  font-family: "Poppins", sans-serif;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: weight(medium);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-primary {
  background-color: #5f7cfe;
  border-radius: 2px;
}

.btn-secondary {
  background-color: #cdd3d8;
  border-radius: 4px;
}

.btn-success {
  background-color: #1dca51;
  border-radius: 8px;
}

.btn-info {
  background-color: #61aafc;
  border-radius: 12px;
}

.btn-danger {
  background-color: #fc544b;
  border-radius: 50%;
}

.card,
.alert {
  padding: 25px 50px 75px 100px;
}

.alert {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: -32px;
  margin-right: -32px;
}

.alert-primary {
  color: #0125c3;
  background-color: #5f7cfe;
  font-size: 16px;
  font-weight: bold;
}

.alert-info {
  color: #045dc0;
  background-color: #61aafc;
  font-size: 16px;
  font-weight: bold;
}

.alert-success {
  color: #0a441b;
  background-color: #1dca51;
  font-size: 16px;
  font-weight: bold;
}

.alert-danger {
  color: #ab0b03;
  background-color: #fc544b;
  font-size: 16px;
  font-weight: bold;
}

.card {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #6c757d;
  font-size: 14px;
  font-weight: bold;
}

.card-header,
.card-body,
.card-footer {
  background-color: transparent;
  padding: 20px 25px;
}

.card-body {
  padding-top: 20px;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

