@mixin shadow($size : 0 4px, $color : rgba(0,0,0,.03)){
    box-shadow: $size $color;
}

@mixin card_base($border-radius : 3px) {
    @include shadow();
    width: 300px;
    background-color : color(dark);
    border-radius: $border-radius;
    border : none;
    position :relative;
    margin-bottom: 30px;
}