* {
    padding: 0px;
    margin: 0px;
}
body {
    background: color(bg-out-dark);
    font-family: $font-family;
    color: color(white) !important;
    font-size: $font-size;
    font-weight: weight(medium);
}
.container{
    max-width: 768px;
}