@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

$font-family : 'Poppins', sans-serif;

$colors : (

    primary :       #5f7cfe,
    secondary:      #cdd3d8,
    success:        #28cffb,
    info:           #61aafc,
    warning:        #ffa426,
    danger:         #fc544b,
    light:          #e3eaef,
    grey:  		    #868e96,
    whitesmoke:     #f7f9f9,
    dark:       	#323441,
    muted:          #98a6ad,
    body:           #f4f6f9,
    font:           #6c757d,
    fontdark:       #34395e,
    white:          #ffffff,
    bg-out-dark:    #464854,
);

$font-size : 14px;

$fonts-weights : (
    hairline: 100,
    thin: 200,
    light:300,
    normal:400,
    medium: 500,
    bold:700,
);